<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/knacss.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/wav.css') }}">
		
        <title>WimsActivityViewer</title>
    </head>

    <body>
		<h1>Visualisation de l'activité Wims</h1>
		<hr>
		<p>Cet outil permet de visualiser simplement et de façon fouillée l'activité des participants à une classe Wims, sur une feuille de travail donnée.</p>
		<p>Il permet d'obtenir un fichier éditable dans un traitement de texte contenant ces visuels : l'enseignant peut ainsi les imprimer après avoir ajouté un commentaire, par exemple d'ordre méthodologique.</p>
		<hr>
		<div id="flashed-messages" class="rouge">
			{% for msg in get_flashed_messages() %}
			<p> {{ msg }}</p>
			{% endfor %}
		</div>
		
		<div id="tools-content"> 
			{% if page == 'accueil' %}{% include 'app_upload.html'%}{% endif %}
			{% if page == 'feuille' %}{% include 'app_feuille.html'%}{% endif %}
		</div>

    </body>
</html>



